{
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "es5",
  "singleQuote": false,
  "semi": true,
  "semicolon": [true, "never", "ignore-interfaces"],
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "useTabs": false,
  "vueIndentScriptAndStyle": false,
  "parser": "babel"
}
